.main_home {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 600;
    background-color:rgb(0,185,209);
    display: flex,
  };
  .top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }
  